<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
  {{>navbar}}
  
  <!-- main-header -->
  <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
        <div class="main_content">
            <form class="temp_form">
                <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                <input type="submit" value="search" id="submitBtn">
            </form>
        </div>
        <div class="tempInformation">
            <div class="top_layer">
                <p id="day">Tuesday</p>
                <p id="today_date">13 oct</p>
            </div>
            <div class="main_layer">
                    <p id="city_name">Get Output Here</p>
                    <div class="middle_layer_data_hide">
                        <p id="temp"><span>0</span><sup>o</sup></p>
                        <p id="temp_status"><i class="fa-solid fa-cloud"></i></p>

                    </div>
            </div>
        </div>
        </div>
    </div>
  </div>
  
  <!-- footer section -->
  <footer>
    <p>Created by Mukul</p>
  </footer>

<script>
  const cityName= document.getElementById("cityName");
const city_name= document.getElementById("city_name");
const submitBtn=document.getElementById("submitBtn");
const temp=document.getElementById("temp");
const temp_status=document.getElementById("temp_status");


const getInfo= async(event) => {
    event.preventDefault();
    let cityVal=cityName.value;
    if(cityVal===""){
            city_name.innerText="Please write city name before search"
    }
    else{
       try{ let url="https://api.openweathermap.org/data/2.5/weather?q={city name}&appid={519d12d054cbc31e9a3e0a7301295431}";
        const response= await fetch(url, {
            mode: 'no-cors',
            method: 'Get'
        });
       console.log(response);
        const data=await response.json();
        const arrData=[data];

        city_name.innerText= `${arrData[0].name}, ${arrData[0].sys.country}`;

        temp.innerText=arrData[0].main.temp;
        temp_status.innerText=arrData[0].weather[0].main;


    }
    catch{
        city_name.innerHTML=`please write city name`;
    }
}
};

submitBtn.addEventListener('click', getInfo);
</script>

</body>
